/* Reset some default styles */
body, h1, h2, h3, p, ul, li {
  margin: 0;
  padding: 0;
}

/* Set height for the page */
html, body {
  height: 100%;
}

/* Header and Nav bar styling */
header {
  background-color: rgb(37, 20, 190);
  color: #fff;
  padding: 18px;
}

header h1 {
  font-size: 28px;
}

nav ul {
  list-style-type: none;
  display:flex;
  justify-content:flex-end;
}

nav ul li {
  margin: 10px;
}

nav ul li a {
  text-decoration: none;
  padding: 15px;
  font-size: 24px;
  color: #fff;
}

nav ul li a:hover {
  color: aqua;
  text-decoration: none;
}


/* Main content styles */
main {
  padding: 20px;
  min-height: calc(100% - 140px);
  font-family: Arial, sans-serif;
}

/* Footer styles */
footer {
  background-color: rgb(23, 21, 41);
  color: #fff;
  padding: 20px;
  text-align: center;
  font-family: Arial, sans-serif;
}

.footer-container {
  display: flex;
  justify-content: space-between;
}

.contact-info,
.address-info,
.social-media {
  flex-basis: 30%;
}

.contact-info h3,
.address-info h3,
.social-media h3 {
  margin-bottom: 15px;
}

.contact-info p,
.address-info p {
  color: #ccc;
}

.social-media ul {
  display: flex;
  justify-content: flex-end;
  margin-right: 34px;
  font-size: 28px;
}

.fa {
  padding: 40px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
  opacity: 0.5;
  text-decoration: none;
}

.fa-facebook .fa-twitter .fa-instagram{
  color:white;
}




/* Mobile responsive styles */


@media screen and (max-width: 768px) {
  header {
    flex-direction: column;
    text-align: center;
  }

  nav {
    margin: 20px 0;
  }

  nav ul {
    flex-direction: column;
  }

  nav ul li {
    margin-right: 0;
    margin-bottom: 10px;
  }
  
  footer .footer-container {
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
  }

  .contact-info,
  .address-info,
  .social-media {
    flex-basis: 100%;
    text-align: center;
    margin-bottom: 20px;
  }

  .social-media ul {
    justify-content: center;
  }
}