{% extends 'base.html' %}

{% block title %}
    Sign Up
{% endblock %}

{% block content %}
    <h4><em><strong>Authors:</strong></em></h4>
    <p> Kayongo Samuel Yongo</p>
    <p> Loyd Ngei</p>
    <p> Allan Too</p>

    <h4><em><strong>Description:</strong></em></h4>
    <p> This project was done to fulfil the requirement of our MVP project in ALX. 
        We felt that there was more to be done but with time, we will keep on updating it </P>

    <h4><em><strong>Link to the project's repository:</strong></em></h4>
    <a href="https://github.com/LoydNgei/House-Explorer_Web-App">https://github.com/LoydNgei/House-Explorer_Web-App</a>
        
    <h4><em><strong>Links to our individual Github accounts:</strong></em></h4>
    <a href="https://github.com/KayongoYongo">https://github.com/KayongoYongo</a>
    <br>
    <a href="https://github.com/LoydNgei">https://github.com/LoydNgei</a>
    <br>
    <a href="https://github.com/Kembu">https://github.com/Kembu</a>
{% endblock %}
