<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/styles/BaseStyle.css')}}">
  <script type="text/javascript" src="{{ url_for('static', filename='Javascript/main.js') }}"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
  <title>
    {% block title %}
    
    {% endblock %}
  </title>
</head>
<body>
  <header>
    <h1>HouseExplorer</h1>
    <nav>
      <ul>
        {% if user.is_authenticated %}
          <li><a href="{{ url_for('site_views.house_page', user_id=current_user.id) }}">Add Listing</a></li>
          <li><a href="{{ url_for('logout_blueprint.log_out') }}">Log out</a></li>
          <li><a href="{{ url_for('site_views.home_page', user_id=current_user.id) }}">Home page</a></li> 
        {% else %}
          <li><a href="{{ url_for('site_views.about_page') }}">About</a></li>
          <li><a href="{{ url_for('site_views.log_in')}}">Log in</a></li>
          <li><a href="{{ url_for('site_views.sign_page') }}">Sign up</a></li>
          <!--<li><a href="{{ url_for('display_all_blueprint.images', image_files=image_files, user=current_user) }}">View Properties</a></li>-->
        {% endif %}
      </ul>
    </nav>
  </header>

  <main>
    {% block content %}
  
    {% endblock %}
  </main>
  
  <footer>
    <div class="footer-container">
      <div class="contact-info">
        <h3>Contact</h3>
        <p>Phone: 123-456-7890</p>
        <p>Email: <a href="mailto:info@houseexplorer.com">info@houseexplorer.com</a></p>
      </div>
      <div class="address-info">
        <h3>Address</h3>
        <p>123 Main Street</p>
        <p>City, State, ZIP</p>
      </div>
      <div class="social-media">
        <h3>Follow us</h3>
        <ul>
          <a href="https://www.facebook.com" target="_blank" class="fa fa-facebook"></a>
          <a href="https://www.twitter.com" target="_blank" class="fa fa-twitter"></a>
          <a href="https://www.instagram.com" target="_blank" class="fa fa-instagram"></a>
        </ul>        
      </div>
    </div>
  </footer>
</body>
</html>
