<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/styles/BaseStyle.css')}}">
  <script type="text/javascript" src="{{ url_for('static', filename='Javascript/main.js') }}"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
  <title>
    {% block title %}
    
    {% endblock %}
  </title>
</head>
<body>
  <header>
    <a href="{{ url_for('site_views.home_page', user=user) }}">
    <h1>House Explorer</h1>
    </a>
    <p><em>"House Hunting Just Got Real! Dive into the whimsical wonderland of House Explorer and find homes that will make you question reality... or at least your taste in wallpaper!"</em></p>
    <p><em>"To add a listing, the user must be logged in !"</em></p>
    <nav>
      <ul>
        {% if user.is_authenticated %}
          <li><a href="{{ url_for('site_views.house_page', user_id=current_user.id) }}">Add Listing</a></li>
          <li><a href="{{ url_for('logout_blueprint.log_out') }}">Log out</a></li>
          <li><a href="{{ url_for('site_views.home_page', user_id=current_user.id) }}">Home page</a></li> 
        {% else %}
          <li><a href="{{ url_for('site_views.about_page') }}">About</a></li>
          <li><a href="{{ url_for('site_views.log_in')}}">Log in</a></li>
          <li><a href="{{ url_for('site_views.sign_page') }}">Sign up</a></li>
          <!--<li><a href="{{ url_for('display_all_blueprint.images', image_files=image_files, user=current_user) }}">View Properties</a></li>-->
        {% endif %}
      </ul>
    </nav>
  </header>

  <main>
    {% block content %}
  
    {% endblock %}
  </main>
  
  <footer>
    <style>
      .footer-container {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-style: italic;
        font-weight: lighter;
      }
      h3 {
        color: darkgoldenrod;
      }

    </style>
    <div class="footer-container">
      <div class="contact-info">
        <h3>Contact</h3>
        <p>Phone: 123-456-7890</p>
        <p>Physical Address: StreetWall Road, Capitano</p>
      </div>
      <div class="address-info">
        <h3>Our Values</h3>
        <p>Transparency</p>
        <p>Comfort</p>
        <p>Security</p>
      </div>
      <div class="social-media">
        <h3>Follow us</h3>
        <ul>
          <a href="https://www.facebook.com" target="_blank" class="fa fa-facebook"></a>
          <a href="https://www.twitter.com" target="_blank" class="fa fa-twitter"></a>
          <a href="https://www.instagram.com" target="_blank" class="fa fa-instagram"></a>
        </ul>        
      </div>
    </div>
  </footer>
</body>
</html>
