{% extends 'base.html' %}

{% block title %}
    Property Images
{% endblock %}

{% block content %}

<h1>Properties:</h1>
<div style="display: flex; flex-wrap: wrap;">
    {% for index, filename in image_files|enumerate %}
        <div style="width: 25%; margin-right: 20px;">
            <a href="{{ url_for('site_views.home_page') }}">
                <img src="{{ url_for('static', filename='UPLOADS/' + filename) }}" width="400" height="300">
            </a>
            <div>
                <p>Cost: {{ matching_properties[index].cost }}</p>
                <p>Rooms: {{ matching_properties[index].rooms }}</p>
                <p>County: {{ matching_properties[index].county }}</p>
                <p>Estate: {{ matching_properties[index].estate }}</p>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}