/* Reset some default styles */
body, h1, h2, h3, p, ul, li {
  margin: 0;
  padding: 0;
}

/* Set height for the page */
html, body {
  height: 100%;
}

/* Header styles */
header {
  background-color: rgb(37, 20, 190);
  color: #fff;
  padding: 20px;
  display: flex;
  align-items: center;
}

header h1 {
  font-size: 28px;
}

nav {
  margin-left: auto;
}

nav ul {
  list-style-type: none;
  display: flex;
}

nav ul li {
  margin-right: 10px;
}

nav ul li a {
  text-decoration: none;
  padding: 10px 16px;
  font-size: 24px;
  color: #fff;
}

nav ul li a:hover {
  color: aqua;
}

/* Main content styles */
main {
  padding: 20px;
  min-height: calc(100% - 140px);
  font-family: Arial, sans-serif;
}

/* Footer styles */
footer {
  background-color: rgb(23, 21, 41);
  color: #fff;
  padding: 20px;
  text-align: center;
  font-family: Arial, sans-serif;
}

.footer-container {
  display: flex;
  justify-content: space-between;
}

.contact-info,
.address-info,
.social-media {
  flex-basis: 30%;
}

.contact-info h3,
.address-info h3,
.social-media h3 {
  margin-bottom: 10px;
}

.contact-info p,
.address-info p {
  color: #ccc;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}